---
import logo from '../images/logo.svg'
---
<header class="h-[70px] bg-primary">
  <div class="h-full flex items-center justify-between px-5">
    <div class="">
      <a href="/">
        <img class="h-[35px] align-middle" src={logo} alt="" />
      </a>
    </div>
    <nav>
      <ul class="flex">
        <li class="px-3"><a class="text-white" href="/">Home</a></li>
        <li class="px-3"><a class="text-white" href="/about">About</a></li>
        <li class="px-3"><a class="text-white" href="/blog">Blog</a></li>
      </ul>
    </nav>
  </div>
</header>